{% extends 'layouts/guest.html' %}

{% load i18n %}

{% block title %} Login {% endblock %}

{% block content %}
    <section class="grid grid-rows-2 h-screen md:grid-cols-2">
        <style>
            .bg-svg {
                background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='80' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(23, 82%, 31%, 1)'/><path d='M-10 5l20 10L30 5l20 10'  stroke-linecap='square' stroke-width='1.5' stroke='hsla(259, 0%, 100%, 1)' fill='none'/><path d='M-10 25l20 10 20-10 20 10'  stroke-linecap='square' stroke-width='1.5' stroke='hsla(0, 0%, 0%, 1)' fill='none'/><path d='M-10 45l20 10 20-10 20 10'  stroke-linecap='square' stroke-width='1.5' stroke='hsla(199, 0%, 100%, 1)' fill='none'/><path d='M-10 65l20 10 20-10 20 10'  stroke-linecap='square' stroke-width='1.5' stroke='hsla(0, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
            }
        </style>
        <div class="bg-svg row-start-2 md:row-span-2" >
        </div>
        <div class="my-auto container md:row-span-2 mx-auto max-w-xs flex flex-col gap-8">
            <h1 class="text-3xl text-amber-800 font-bold">Registre-se</h1>
            <form class="flex flex-col gap-4" method="POST" action="{% url 'auth.sign_up' %}">
                {% csrf_token %}
                {{ register_form }}
                <button type="submit" class="bg-amber-800 rounded px-2 py-2 text-white font-bold">{% translate "Registrar-se" %}</button>
            </form>
            <p>Já possui uma conta? <a href="{% url 'auth.sign_in' %}" class="text-amber-800">entrar</a></p>
        </div>
    </section>
{% endblock %}