{% extends 'layouts/main.html' %}

{% load i18n %}

{% block title %} Loans create {% endblock %}

{% block content %}
    <section class="container mx-auto bg-white rounded mt-8 p-4 rounded max-w-md">
        <div class="mb-4">
        <a href="{% url 'loans_user.create' %}" class="mb-8 text-amber-800 font-bold">{% translate "Register new person" %}</a>
        </div>
        <form action="{% url 'loans.create' %}" class="flex flex-col gap-4" method="POST">
            {% csrf_token %}
            {{ loan_form }}
            <button type="submit" class="bg-amber-800 rounded px-2 py-2 text-white font-bold">{% translate "Create" %}</button>
        </form>
    </section>
{% endblock %}